body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #000000;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    padding: 20px;
    margin: 10px;
    background: white;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #0d0d0d;
    color: white;
}
